@font-face {
  font-family: "Migha-BoldExpanded";
  src: url("fonts/Migha-BoldExpandedCNTR.otf") format("opentype");
}

@font-face {
  font-family: "Migha-Expanded";
  src: url("fonts/Migha-Expanded.otf") format("opentype");
}


@font-face {
  font-family: "Neue Montreal";
  src: url("fonts/PPNeueMontreal-Medium.otf") format("opentype");
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes grain {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-5%, -10%); }
  20% { transform: translate(-10%, 5%); }
  30% { transform: translate(7%, -10%); }
  40% { transform: translate(-5%, 10%); }
  50% { transform: translate(-10%, 6%); }
  60% { transform: translate(10%, 0%); }
  70% { transform: translate(0%, 10%); }
  80% { transform: translate(3%, 8%); }
  90% { transform: translate(-10%, 10%); }
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1A1A1A;
  font-family: 'Neue Montreal';
}

.App::after {

  animation: grain 8s steps(10) infinite;
  background-image: url("./assets/grain.jpg");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.1;
  position: fixed;
  top: -110%;
  width: 300%;
  z-index: -1;
}

.Hero{
  font-family: 'Migha-BoldExpanded';
  font-size: 4rem;
  text-align: center;
  color: #00f;
}
