
@font-face {
  font-family: "Neue Montreal Bold";
  src: url("fonts/PPNeueMontreal-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Space Mono Bold';
  src: url('fonts/SpaceMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Migha';
  src: url('fonts/Migha-Black.otf') format('opentype');
}


@font-face {
  font-family: 'Alagard';
  src: url('fonts/alagard.ttf') format('truetype');
}



:root {
  --main-yellow: #FFC000;
  --main-black: #0e1111;
  --main-dark-gray: #b7b7b7;
}


html,
body {
  margin: 0;
  padding: 0;
 font-family: "Neue Montreal Bold";
 color: var(--main-yellow);
 user-select: none;

}


* {
  scrollbar-width: thin;
  scrollbar-color: var(--main-yellow) var(--main-black);
}

#particle-system-container {
  position: fixed;
  top: 0;
  z-index: -1;
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-yellow);
  display: flex;
  justify-content: center;
  z-index: 9999;
  color: var(--main-black);
}



.splash-screen button {
  cursor: pointer;
  font-size: 2rem;
  font-family: 'Migha';
  color: var(--main-black);
}

.no-scroll {
  overflow: hidden;
}


.credits-button {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  z-index: 1000; 
  color: var(--main-dark-gray);
  font-family: 'Alagard';
  font-size: 0.7rem;
}

.credits-container {
  font-family: 'Space Mono Bold';
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--main-yellow);
  color: var(--main-black);
  transform: translateY(100%); 
  transition: transform 0.5s ease-in-out;
  pointer-events: none; 
  font-size: 0.8rem;
  padding: 1rem;
}

.credits-button-container:hover .credits-container {
  transform: translateY(0); 
}
