header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  background: none;
  color:  #fff;
  text-transform: uppercase;
}

.buttonContainer{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

button {
  border: none;
  padding: 0;
  background: none;
}

