.AboutMe {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 2rem;
  font-family: "Neue Montreal Bold";
  font-size: 2rem;
  user-select: none;
  text-transform: uppercase;
  text-align: center;
}

.Bold-Immersive-Memorable {
  font-size: 5rem;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Quicksilver';
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile-section div {
  max-width: 60%;
}

.profile-section img {
  margin-left: 40px;
  max-width: 150px;
  height: auto;
  border: 3px solid yellow;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-caption {
  position: absolute;
  bottom: -2rem;
  right: 0;
  display: none;
  color: var(--main-yellow);
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 4px;
}

.image-container:hover .image-caption {
  display: block;
}

@media (min-width: 1440px) {
  .profile-section img {
    max-width: 300px;
  }
}

@media (max-width: 1024px) {
  .AboutMe {
    font-size: 2rem;
  }
  .Bold-Immersive-Memorable {
    font-size: 3.5rem;
  }
  .profile-section div {
    max-width: 70%;
  }
  .profile-section img {
    max-width: 120px;
  }
}

@media (max-width: 768px) {
  .AboutMe {
    font-size: 1rem;
  }
  .Bold-Immersive-Memorable {
    font-size: 1.5rem;
  }
  .profile-section {
    flex-direction: column;
    align-items: center;
  }
  .profile-section div {
    max-width: 100%;
  }
  .profile-section img {
    display: none; 
  }
  .image-caption {
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  .profile-section img {
    max-width: 70%;
  }
}

@media (max-width: 320px) {
  .profile-section img {
    max-width: 60%;
  }
}
