.AboutMe {
  text-align: left;
  letter-spacing: 1px;
  color: var(--secondary-color);
  font-family: "Neue Montreal Medium", sans-serif;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border-radius: 4px;
  visibility: hidden;
}

.AboutMeTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.AboutMeTitle {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--primary-color);
  background: none;
}

.AboutMeTitle img {
  margin-left: 0.5rem;
  width: 30px; 
  height: 30px;
}



h1 {
  padding: 2rem;
}

@media (max-width: 444px) {
  .AboutMe {
    font-size: 1rem;
  }
}

@media (max-width: 790px) {
  .AboutMe {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .AboutMe {
    font-size: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .AboutMe {
    font-size: 2rem;
  }
}
