.App-header {
  position: relative;
  margin-left: 2em;
  gap: 2em;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  font-size: 0.6rem;
  color: #b7b7b7;
  font-family: "2049";
}

nav {
  display: flex;
  align-items: center;
}

.navlink {
  color: #b7b7b7;
  margin-right: 10px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.navlink:hover {
  cursor: pointer;
  transform: scale(1.1);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}


@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
    text-align: center;
    gap: 0.5em;
  }
}
