.Contact {
  margin: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  color: yellow;
}

.contact-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.Contact a{
  color: yellow;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.Contact a:hover{
  transform: scale(1.1);
}


