.Contact {
  position: fixed;
  right: 0;
  top: 0;
  width: 33%;
  height: 100%;
  background-color: var(--main-yellow);
  padding: 1rem;
  font-size: 1rem;
  color: var(--main-black);
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Ragna';
}

.Contact h2{
  font-family: 'Ragna';
}

.Contact button,
.Contact a {
  color: var(--main-black);
  text-decoration: none;
  font-family: "Kayak";
  font-weight: bolder;
}

.Contact a:hover,
.Contact button:hover {
  text-decoration: underline;
  font-style: italic;
}
