.footer {
  margin-top: 4rem;
  
}


.footer-title {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--primary-color);
  margin-bottom: 1rem;

}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Neue Montreal Bold";
  font-weight: 900;
  background-color: var(--primary-color);
  border-radius: 4px;
  width: 100%;
  padding: 5rem 0;
}

.footer a {
  text-decoration: none;
  color: var(--secondary-color);
  letter-spacing: 0.15em;
  position: relative;
  overflow: hidden;
}

.footer a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--secondary-color);
  transition: width 0.3s;
}

.footer a:hover::after {
  width: 100%;
}

@media (max-width: 1024px) {
  .footer-content {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .footer-content {
    font-size: 0.6rem;
  }
}
