.Hero {
  margin: 4rem 6rem;
  text-align: center;
  letter-spacing: 1px;
  color: var(--main-yellow);
  font-family: "Kayak", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

.Hero h1{
  font-family: 'Ragna';
 letter-spacing: 10px;
 font-weight: 900;
}

.Bold-Immersive-Memorable {
  font-family: "Ragna";
  font-size: 2rem;
  margin-top: 3rem;

}

@media (min-width: 768px) {
  .Hero {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }

  .AboutMe {
    font-size: 1rem;
  }
  
  .Bold-Immersive-Memorable {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .Hero {
    font-size: 4.5rem;
    letter-spacing: 3px;
  }

  .AboutMe {
    font-size: 2rem;
  }
  
  .Bold-Immersive-Memorable {
    font-size: 7.5rem;
  }
}

@media (min-width: 1440px) {
  .Hero {
    font-size: 6rem;
    letter-spacing: 5px;
  }

  .AboutMe {
    font-size: 4rem;
  }
  
  .Bold-Immersive-Memorable {
    font-size: 10rem;
  }
}


