.Hero {
  margin: 4rem 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  color: var(--main-yellow);
  font-family: "Kayak", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  gap: 1rem;
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 10rem;
}

.Hero .fs {
  letter-spacing: 14px;
  font-size: 1rem;
  font-family: 'Kayak';
  margin: 0;
}

.Hero .fst {
  letter-spacing: 12px;
  font-size: 1rem;
  font-family: 'Kayak';
  margin: 0;
}

.Hero .wd {
  margin: 0;
  letter-spacing: 10px;
  font-family: 'Ragna';
  font-weight: bolder;
  font-size: 4rem;
  text-align: center;
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.scroll-down {
  position: absolute;
  bottom: -2rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: var(--main-dark-gray);
  pointer-events: none;
  opacity: 0;
  letter-spacing: normal;
  word-spacing: normal;
  animation: flash 2.5s infinite;
}


@media (max-width: 600px) {
  .Hero {
    margin: 2rem 1rem;
    font-size: 0.8rem;
    gap: 0.5rem;
    word-spacing: 1rem;
  }

  .Hero .fs, .Hero .fst, .Hero .wd {
    letter-spacing: 8px;
    font-size: 0.8rem;
  }

  .Hero .wd {
    font-size: 2rem; 
  }

  .scroll-down {
    font-size: 0.8rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .Hero {
    margin: 3rem 2rem;
    font-size: 0.9rem;
    gap: 0.8rem;
    word-spacing: 1.5rem;
  }

  .Hero .fs, .Hero .fst, .Hero .wd {
    letter-spacing: 10px;
    font-size: 0.9rem;
  }

  .Hero .wd {
    font-size: 3rem;
  }

  .scroll-down {
    font-size: 0.9rem;
  }
}

@media (min-width: 1025px) {
  .Hero {
    margin: 4rem 6rem;
    font-size: 1rem;
    gap: 1rem;
    word-spacing: 2rem;
  }

  .Hero .fs, .Hero .fst, .Hero .wd {
    letter-spacing: 12px; 
    font-size: 1rem;
  }

  .Hero .wd {
    font-size: 4rem; 
  }

  .scroll-down {
    font-size: 1rem; 
  }
}
