.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #203799;


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 9999;
    color: var(--main-yellow); 
    gap: 0.1rem;

  }
  

.fs{
  letter-spacing: 18px;
  font-size: 0.6rem;
  font-family: 'Kayak';

}

.fst{
  letter-spacing: 14px;
  font-size: 0.6rem;
  font-family: 'Kayak';
}

.wd{
  letter-spacing: 10px;
  font-family: 'Ragna';
  font-weight: bolder;
}

  .splash-header {
    position: absolute;
    top: 0;
    right: 0;
    writing-mode: vertical-rl; 
    color: var(--main-yellow);
    padding: 10px; 
    letter-spacing: 2px;
    font-family: 'Kayak'; 
    font-size: 0.5rem;
  }
  
  .splash-screen button {
    margin-top: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Ragna';
    color: var(--main-yellow);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    background: #203799;
    transition: color 0.3s;
  }
  
  .splash-screen button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--main-yellow);
    transition: width 0.3s;
  }
  
  .splash-screen button:hover::after {
    width: 100%;
  }
  
  .splash-screen button:hover {
    color: var(--main-yellow);
  }
  