.ThemeStation {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 200px;
  height: 50px;
  background-color: var(--main-black);
  color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: "Space Mono";
  animation: blurAnimation 3s forwards;
}


.ThemeStation.open {
  width: 200px;
  height: auto;
  padding: 10px;
}

.ThemeStation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ThemeStation li {
  padding: 5px;
  cursor: pointer;
  color: var(--main-gray);
}

.ThemeStation li.active {
  color: #fff;
}

.ThemeStationIcon {
  font-size: 1rem;
}
