.ThemeStation {

  color: var(--primary-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Moria";
  animation: blurAnimation 3s forwards;
  z-index: 998;


}


