
.words-container {
    text-align: center;
    letter-spacing: 1px;
    color: var(--secondary-color);
    font-family: "Neue Montreal Bold", sans-serif;
    text-transform: uppercase;
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 2rem;

  }
  
  .WordsTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
        margin-top: 2rem;
  }
  
  .WordsTitle {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--primary-color);
    background: none;
    text-transform: uppercase;
  }
  
  .WordsTitle img {
    margin-left: 0.5rem;
    width: 30px; 
    height: 30px; 
  }
  
  .word {
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.1);
    transition: color 0.1s ease; 
  }
  
  @media (max-width: 444px) {
    .words-container {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 790px) {
    .words-container {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 1024px) {
    .words-container {
      font-size: 3rem;
    }
  }
  
  @media (min-width: 1440px) {
    .words-container {
      font-size: 6rem;
    }
  }
  