.words-container {
  text-align: center;
  letter-spacing: 1px;
  color: var(--secondary-color);
  text-transform: uppercase;
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: clamp(1rem, 2vw + 1rem, 4rem);
  font-size: clamp(1rem, 2vw + 1rem, 6rem);
}

.WordsTitle {
  display: flex;
  align-items: center;
  font-size: clamp(0.6rem, 1vw + 0.6rem, 1.5rem); 
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.word {
  margin: clamp(10px, 2vw + 10px, 20px) 0;
  color: rgba(0, 0, 0, 0.1);
  transition: color 0.1s ease;
}
